<!DOCTYPE html>
<html>
    <head>
        <div>
            <nav>
            <ul>
                <li> <img src="/Images/logo.png"></li>
            <li><a href="/views/Acceuil.ejs">Home</a> </li>
            <li><a href="/views/recherche.ejs">Recherche</a></li>
            <li><a href="/views/profil.ejs">Profile</a> </li>
            <li><a href="/views/login.ejs">Login</a> </li>
            <li><a href="/views/livres.ejs">Livre</a> </li>
            <!-- Début du menu déroulant -->
            <li class="logoP"><img src="/Images/profile.png" alt="Profil" class="logo">
            <ul>
            <li><a href="./Profil.html">Profile</a></li>
            <li><a href="./Profil.html">Parametre</a></li>
            <li><a href="./Login.html">Deconnexion</a></li>
            </ul> 
            </li></ul>
            </nav>
        </div>       
    
    <link rel="stylesheet" href="/CSS/style.css">
<style>
    
     .Titre{
        text-align: center;
        font-size: 30px;        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .slider{
        width: 1110px;

        overflow: hidden;
        margin: 150px auto;
        

    }
    .slides{
        width: calc(1110px *3);
        animation: glisse 15s infinite;
    }
    .slide {
        float:left;
    }

    @keyframes glisse{
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-1110px);
        }
        43%{
            transform: translateX(-1110px);
        }
        66%{
            transform: translate(-2220px);
        }
        100%{
            transform: translate(0);
        }
    }
</style>
</head>
<body>
    <header>
        
    </header>
<br><br><br><br><br><br><br><br>
<div class="Titre">
<h1>Bienvenue sur BiblioClick !</h1>
</div>

<div class="slider"> 
    <div class="slides">

        <div class="slide"><img src="/images/livreImage1.jpg" alt="image1"></div>
        <div class="slide"><img src="/images/livreImage2.jpg" alt="image2"></div>
        <div class="slide"><img src="/images/livreImage3.jpg" alt="image3"></div>

    </div>

    
</div>  
</body>
<footer class="f">
    <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
    <img src="/Images/logo.png" class="logo">
</footer>
</html>
