<!DOCTYPE html>
<html>
    <head>
        Accueil       
    </head>

    <body>
        <!-- Ceci est le texte affiché au client à l'accueil-->
        <div class="Titre">
            <h1 style="text-align: center;">Bienvenue sur BiblioClick !</h1>
        </div>
  
        <div class="slider">
            <div class="slides">
                <slide><img src="../Images/livreImage1.jpg" alt=""></slide>
                <slide><img src="../Images/livreImage2.jpg" alt=""></slide>
                <slide><img src="../Images/livreImage3.jpg" alt=""></slide>
               
            </div>
        </div>

    </body>
</html>
