<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {text-align: center;}
        div {text-align: left;}
    </style>
</head>
<body>
    <h1>Page de livre</h1>
    <br><br><br><br><br><br><br>
    <div>
    <table>
        <tr>
          <th>Livre</th>
          <th>Details</th>
          <th>Contenu</th>
        </tr>
        <tr>
          <td><img src="C:\Users\Eleve\Downloads\Blank-Book-Cover-PNG-Picture.png" width="400" 
            height="500" /></td>
          <td>Titre: </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Auteur: </td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Annee: </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Description: </td>
            <td></td>
        </tr>
      </table>
      <button>Reserver le livre</button>
    </div>
</body>
</html>