<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {text-align: center;}
        div {text-align: left;}
    </style>
</head>
<body>
  <nav>
    <ul>
      <li><img src="/Images/logo.png" class="logo"></li>
      <li><a href="/views/Acceuil.ejs">Home</a> </li>
      <li><a href="/views/recherche.ejs">Recherche</a></li>
      <li><a href="/views/profil.ejs">Profile</a> </li>
      <li><a href="/views/login.ejs">Login</a> </li>
      <li><a href="/views/livres.ejs">Livre</a> </li>
    <!-- Début du menu déroulant -->
    <li class="logoP"><img src="/Images/profile.png" alt="Profil"class="logo">
    <ul>
        <li><a href="./Profil.html">Profile</a></li>
        <li><a href="./Profil.html">Parametre</a></li>
        <li><a href="./Login.html">Deconnexion</a></li>
    </ul>
    </li></ul>
  </nav>

    <h1>Page de livre</h1>
    <br><br><br><br><br><br><br>
    <div>
    <table>
        <tr>
          <th>Livre</th>
          <th>Details</th>
          <th>Contenu</th>
        </tr>
        <tr>
          <td><img src="C:\Users\Eleve\Downloads\Blank-Book-Cover-PNG-Picture.png" width="400" 
            height="500" /></td>
          <td>Titre: </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Auteur: </td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Annee: </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Description: </td>
            <td></td>
        </tr>
      </table>
      <button>Reserver le livre</button>
    </div>
</body>
<footer class="f">
  <p>Author: Mebarkia Mohamed / Mohamed Wafi / Zhi Bo / Omar Khoudair</p>
  <img src="/Images/logo.png" class="logo">
</footer>
</html>