<!DOCTYPE html>
<html>
    <head>
 
    </head>

    <style>
        .champDuProfil{
         
        }

        .boutton{
            margin: 20px; ;
        }
    </style>

    <body>
        <h1>Profil</h1>
        <form action="/" method="post">
            <label for="nom" class="champDuProfil">Nom:</label>
            <label for="nomBDAncien"></label>
            <input type="text">
            <br>
            <br>
            <label for="nom" class="champDuProfil">Prénom:</label>
            <input type="text">
            <br>
            <br>
            <label for="nom" class="champDuProfil">Téléphone:</label>
            <input type="text">
            <br>
            <br>
            <label for="nom" class="champDuProfil">Email:</label>
            <input type="text">
            <br>
            <br>
            <button class="boutton">Modifier les informations personnelles</button>

            <button>Modifier le mot de passe</button>
            
            


        </form>

    </body>
</html>
